# Exchange Log Middleware - Environment Variables Example
# Bu dosya şablondur. Gerçek değerleri atamak için bu dosyayı kopyalayıp adını ".env" yapın.

# RabbitMQ Credentials
RABBITMQ_USER=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password

# Azure Service Bus Emulator Credentials
SQL_EDGE_PASSWORD=your_secure_sql_password
ASB_CONNECTION_STRING=Endpoint=sb://your_servicebus_url;SharedAccessKeyName=YourPolicy;SharedAccessKey=YourKey;
